{% extends 'base.html' %}
{% block content %}

{% load static %}
<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">KSAhh의 포트폴리오</h1>
        <p class="lead text-muted">블로그와 포트폴리오 연결하기</p>
        <p>
            <a href="#" class="btn btn-primary my-2">Main call to action</a>
            <a href="#" class="btn btn-secondary my-2">Secondary action</a>
        </p>
    </div>
</section>
<div class="container">
    <div class="card" style="width: 18rem;">
        <img src="{% static '2020-2schedule.png' %}" class="card-img-top" alt="2020-2 시간표">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's
                content.</p>
            <a href="#" class="btn btn-outline-secondary">View</a>
            <a href="#" class="btn btn-outline-secondary">Edit</a>
        </div>
    </div>
</div>
<a href="{% static 'Ch1_Introduction.pdf' %}" alt="기요설 강의노트1">기계요소설계 강의노트1</a>
{% endblock %}